In [4]:
import sys

#define a raiz do projeto par aser possivel importar os modulos
sys.path.append("../../src")

def restart_django():
    import os
    import sys
    import django
    #define a raiz do projeto par aser possivel importar os modulos
    sys.path.append("../../src") 

    #configura o ambiente
    os.environ.setdefault("DJANGO_SETTINGS_MODULE", "toy_example.settings")
    os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
    django.setup()
restart_django()

Um dos objetivos do jupyter é "brincar" e entender o que foi feito e fazer testes preliminares. Até para ajudar a criar métodos mais complexos...vejam aqui como testamos a classe pessoa (Person, do arquivo `person.py`) e a classe EyeColor (do arquivo `models.py`). Não esqueça de **reiniciar o kernel caso tenha mudado algo no código**.

In [5]:
from toy.models import *

In [6]:
#veja que as cores dos olhos são automaticamente inseridas e é facil ve-las
EyeColor.objects.all()

In [7]:
EyeColor.color_name.field.choices

[('amber', 'Amber'),
 ('hazel', 'Hazel'),
 ('blue', 'Blue'),
 ('green', 'Green'),
 ('brown', 'Brown'),
 ('dark-brown', 'Dark Brown')]

In [8]:
#caso queira visualizar de forma mais bonitinha, 
#transforme numa lista de dicionario de valores
#e use o pandas
import pandas as pd
eyes_list = EyeColor.objects.all().values()
list(eyes_list)

[{'id': 1, 'color_name': 'amber'},
 {'id': 2, 'color_name': 'hazel'},
 {'id': 3, 'color_name': 'blue'},
 {'id': 4, 'color_name': 'green'},
 {'id': 5, 'color_name': 'brown'},
 {'id': 6, 'color_name': 'dark-brown'}]

In [9]:
pd.DataFrame.from_dict(eyes_list)

   id  color_name
0   1       amber
1   2       hazel
2   3        blue
3   4       green
4   5       brown
5   6  dark-brown

Também é possivel brincar com inserções e métodos que fizemos das classes:

In [10]:
from datetime import datetime
cor_azul = EyeColor.objects.get(color_name=EyeColor.BLUE)
Person.objects.create(name="Adamastor",birth_date=datetime.strptime("14/04/1984", '%d/%m/%Y'), eye_color=cor_azul)

Name: Adamastor birth: 1984-04-14 00:00:00 Eye color: blue

In [11]:
Person.objects.all()

In [13]:
Person.objects.create_from_csv("../../data/tests/person.csv")

In [14]:
import pandas as pd
#ao buscar, seleciona apenas o nome, a cor do olho (pelo seu nome) e a data de nascimento
person_list = Person.objects.all().values("name","eye_color__color_name","birth_date")
pd.DataFrame.from_dict(person_list)

        name eye_color__color_name  birth_date
0  Adamastor                  blue  1984-04-14
1      Elisa                 green  2022-02-12
2      Fabio                  blue  1999-01-11
3    Gabriel                 green  2000-03-11
4       Hugo                 brown  1984-04-14

Esse foi um teste que fiz para depois criar o arquivo de [testes automatizados da da classe pessoa](../../src/productivity_view/tests/models/person.py)

In [ ]:
#create_bulk cria varias pesssoas
cor_azul = EyeColor.objects.get(color_name=EyeColor.BLUE)
cor_castanho = EyeColor.objects.get(color_name=EyeColor.BROWN)
cor_verde = EyeColor.objects.get(color_name=EyeColor.GREEN)
Person.objects.bulk_create(
    [Person(name="Alice",birth_date=datetime.strptime("04/03/1984", '%d/%m/%Y'), eye_color=cor_azul),
     Person(name="Bob",birth_date=datetime.strptime("12/02/1999", '%d/%m/%Y'), eye_color=cor_castanho),
     Person(name="Carol",birth_date=datetime.strptime("14/01/2004", '%d/%m/%Y'), eye_color=cor_verde)]
)

o get só funciona quando temos *apenas uma* instancia a ser retornada...caso vc de get e a função retorne um valor diferente de um, será lançada uma exceção. Faça o teste abaixo

In [ ]:

Person.objects.get(name="Alice")

In [ ]:
from dateutil.relativedelta import relativedelta

data = datetime.strptime("14/04/1984", '%d/%m/%Y')
relativedelta(datetime.now(),data).years